<div class="container pb-5">

  <div class="row justify-content-center">

    <div class="col-sm-10 p-0">

      <div class="card mt-5 mb-5">

        <div class="card-body">
          <h1>{{ presentation.title }}</h1>
        </div>

        <div class="card-body pt-0 pb-0">
          <div class="current-mark row justify-content-end">
            <div class="col-auto pl-0 align-content-center">
              <p>Rating: {{ ps.getAvgMark(presentation.marks) }}</p>
            </div>
            <div class="col-auto pl-0 align-content-center">
              <i class="fas fa-star"></i>
            </div>
          </div>
        </div>

        <div class="card-body">
          <label for="description" class="field-label-responsive"><b>Description</b></label>
          <p> {{ presentation.description }} <p>
        </div>

        <div class="card-body text-right">

          <ngb-rating (rateChange)="submitRate($event)" [(rate)]="currentRate" max="5" [readonly]="submittedRate">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100"><i class="fas fa-star"></i></span>
            </ng-template>
          </ngb-rating>

          <p *ngIf="submittedRate" class="text-success">Thanks for your vote!</p>

        </div>

      </div>

      <div class="card p-0 m-0 mt-3 mb-3" *ngFor='let feedback of presentation.feedback; let i=index;'>
        <div class="card-body">

          <h5 class="card-title">{{ feedback.email }}</h5>

          <p class="card-text">{{ feedback.message }}</p>

          <div class="card-link btn p-0">edit</div>
        </div>

      </div>

      <div class="row mb-5">

        <div class="col">

          <form [formGroup]="feedbackFormGroup" (ngSubmit)="leaveFeedback()">

            <div class="form-group">

              <label for="feedback-box" class="field-label-responsive">
                Feedback:
              </label>

              <textarea class="form-control" id="feedback-box" cols="30" rows="4" placeholder="Your feedback." required
                autofocus formControlName="feedbackBox"></textarea>

            </div>

            <div class="row-stretch">

              <div class="col-sm-5 col-md-4 col-lg-3">

                <button [disabled]="loading" id="SaveBtn" type="submit" class="btn btn-success">
                  Leave feedback
                </button>

              </div>

            </div>

          </form>

        </div>

      </div>

    </div>
  </div>