<div class="container">

  <div class="row justify-content-center">

    <div class="col-sm-10">

      <div class="card mt-5 mb-5">

        <div class="card-body">
          <h1 *ngIf="presentation"> {{ presentation.title }} </h1>
        </div>

        <div class="card-body">
          <label for="description" class="field-label-responsive"><b>Description</b></label>
          <p *ngIf="presentation"> {{ presentation.description }} <p>
        </div>

        <div class="card-body text-right">

          <p>Current mark: {{presentation.mark}}</p>

          <ngb-rating (rateChange)="submitRate($event)" [(rate)]="currentRate" max="5" [readonly]="submittedRate">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100"><i class="fas fa-star"></i></span>
            </ng-template>
          </ngb-rating>

          <p *ngIf="submittedRate" class="text-success">Thanks for your vote!</p>

        </div>

      </div>

    </div>

  </div>

</div>