<div class="container pb-5">

  <div class="row justify-content-center">

    <div class="col-sm-10">

      <div class="card row mt-5 mb-3">

        <div class="card-body">
          <h1 *ngIf="presentation">{{ presentation.title }}</h1>
        </div>

        <div class="card-body pt-0 pb-0">
          <div class="current-mark row justify-content-end">
            <div class="col-auto pl-0 align-content-center">
              <p>Rating: {{presentation.mark}}</p>
            </div>
            <div class="col-auto pl-0 align-content-center">
              <i class="fas fa-star"></i>
            </div>
          </div>
        </div>

        <div class="card-body">
          <label for="description" class="field-label-responsive"><b>Description</b></label>
          <p *ngIf="presentation"> {{ presentation.description }} <p>
        </div>

        <div class="card-body text-right">

          <ngb-rating (rateChange)="submitRate($event)" [(rate)]="currentRate" max="5" [readonly]="submittedRate">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100"><i class="fas fa-star"></i></span>
            </ng-template>
          </ngb-rating>

          <p *ngIf="submittedRate" class="text-success">Thanks for your vote!</p>

        </div>

      </div>

      <div class="row card p-0 mt-3 mb-3" *ngFor='let comment of comments; let i=index;'>
        <div class="col card-body">

          <div class="row">

            <div class="col text-left">
              <p class="m-0">{{comment.author}}</p>
            </div>

            <div class="col-auto">
              <p class="m-0">{{comment.text}}</p>
            </div>

            <div class="col-auto">
              <i class="fas fa-star"></i>
            </div>

          </div>

        </div>

      </div>

      <div class="row mb-5">

        <div class="col">
          <form [formGroup]="commentFormGroup" (ngSubmit)="save()">
            <div class="form-group">
              <label for="message" class="field-label-responsive">Comment box:</label>
              <textarea class="form-control" id="message" cols="30" rows="4" placeholder="Your comment." required
                autofocus formControlName="commentBox"></textarea>
            </div>
          </form>

        </div>

      </div>

    </div>
  </div>