@media (min-width: 768px) {
  #DiscardBtn {
    float: right;
  }
}
@media (min-width: 100px) {
  #addpres button {
    margin-top: 10px;
    width: 100%;
  }
}

#addpres {
  margin-top: 20px;
  margin-bottom: 100px;
}

.spacer {
  margin-top: 10px;
}

.without-am-pm::-webkit-datetime-edit-ampm-field {
  display: none;
}

input[type=time]::-webkit-clear-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; 
}

 input[type=number]::-webkit-inner-spin-button,
 input[type=number]::-webkit-outer-spin-button {
 -webkit-appearance: none;
 -moz-appearance: none;
  appearance: none;
  margin: 0; 
 }