<div class="container" id="addpres">
  <div class="form-horizontal">
    <div class="row">
      <div class="col-sm-1 col-md-2 col-lg-3"></div>
      <div class="col-sm-10 col-md-8 col-lg-6">
        <h2>{{pageTitle}}</h2>
        <hr>
      </div>
    </div>
    <form [formGroup]="editPresentationFormGroup" (ngSubmit)="save()">
      <div class="row">
        <div class="col-sm-1 col-md-2 col-lg-3"></div>
        <div class="col-sm-10 col-md-8 col-lg-6">
          <div class="form-group">
            <label for="title" class="field-label-responsive">Title of Presentation</label>
            <input type="text" name="text" class="form-control" id="title" placeholder="Name of Presentation" required
              autofocus formControlName="title" [ngClass]="{ 'is-invalid': submitted && editPresentationFormGroup.controls.title.errors }">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-control-feedback">
            <div *ngIf="submitted && editPresentationFormGroup.controls.title.errors" class="text-danger">
              <div *ngIf="editPresentationFormGroup.controls.title.errors.required">Title is required</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1 col-md-2 col-lg-3"></div>
        <div class="col-sm-10 col-md-8 col-lg-6">
          <div class="form-group">
            <label for="message" class="field-label-responsive">Description</label>
            <textarea class="form-control" id="message" cols="30" rows="5" placeholder="Short Description" required
              autofocus formControlName="description" [ngClass]="{ 'is-invalid': submitted && editPresentationFormGroup.controls.description.errors }"></textarea>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-control-feedback">
            <div *ngIf="submitted && editPresentationFormGroup.controls.description.errors" class="text-danger">
              <div *ngIf="editPresentationFormGroup.controls.description.errors.required">Description is required</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1 col-md-2 col-lg-3"></div>
        <div class="col-sm-10 col-md-8 col-lg-6">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="time" class="field-label-responsive">Time</label>
                <input type="time" name="time" class="form-control without-am-pm" id="time" required autofocus formControlName="time"
                  [ngClass]="{ 'is-invalid': submitted && editPresentationFormGroup.controls.time.errors }">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="duration" class="field-label-responsive">Duration</label>
                <input type="time" name="time" class="form-control without-am-pm" id="duration" required autofocus formControlName="duration"
                  [ngClass]="{ 'is-invalid': submitted && editPresentationFormGroup.controls.duration.errors }">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="date" class="field-label-responsive">Date</label>
                <input type="date" name="date" class="form-control" id="date" required autofocus formControlName="date"
                  [ngClass]="{ 'is-invalid': submitted && editPresentationFormGroup.controls.date.errors }">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-control-feedback">
            <div *ngIf="submitted" class="text-danger">
              <div *ngIf="editPresentationFormGroup.controls.time.errors && editPresentationFormGroup.controls.time.errors.required">Time
                is required</div>
              <div *ngIf="editPresentationFormGroup.controls.duration.errors && editPresentationFormGroup.controls.duration.errors.required">Duration
                is required</div>
              <div *ngIf="editPresentationFormGroup.controls.date.errors && editPresentationFormGroup.controls.date.errors.required">Date
                is required</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1 col-md-2 col-lg-3"></div>
        <div class="col-sm-10 col-md-8 col-lg-6">
          <div class="form-group">
            <label for="location" class="field-label-responsive">Location</label>
            <input type="text" name="location" class="form-control" id="location" required autofocus formControlName="location"
              [ngClass]="{ 'is-invalid': submitted && editPresentationFormGroup.controls.location.errors }">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-control-feedback">
            <div *ngIf="submitted && editPresentationFormGroup.controls.location.errors " class="text-danger">
              <div *ngIf="editPresentationFormGroup.controls.location.errors.required">Location is required</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">

          <div class="row">
            <div class="col-sm-1 col-md-2 col-lg-3"></div>
            <div class="col-sm-10 col-md-8 col-lg-6">
              <label class="field-label-responsive" for="email-invitations">Email Invitations</label>
            </div>
          </div>

          <div class="row" formArrayName="emailInvitations">
            <div class="col">
              <div class="row align-items-center mb-3" *ngFor="let emailInvitation of emailInvitations.controls; let i=index">

                <div class="col-sm-1 col-md-2 col-lg-3"></div>

                <div class="col-10 col-sm-8 col-md-7 col-lg-5">
                  <input class="form-control" type="text" placeholder="example@inther.com" name="email-invitation" id="email-invitation"
                    [formControlName]="i"  [ngClass]="{ 'is-invalid': submitted && emailInvitation.errors }">
                </div>

                <div class="col-2 col-sm-2 col-md-1 col-lg-1 pl-0">
                  <button (click)="deleteEmailInvitation(i)" class="btn btn-danger m-0">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>

                <div class="col-sm-1 col-md-2 col-lg-3">
                  <div class="form-control-feedback">
                    <div *ngIf="submitted && invite_touched && emailInvitation.errors" class="text-danger">
                      Not a valid email form
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-1 col-md-2 col-lg-3"></div>
            <div class="col-sm-10 col-md-8 col-lg-6">
              <div (click)="addEmailInvitation()" class="col btn btn-dark"><i class="fas fa-plus"></i></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-sm-1 col-md-2 col-lg-3"></div>
        <div class="col-sm-5 col-md-4 col-lg-3">
          <button [disabled]="loading" id="SaveBtn" type="submit" class="btn btn-success">
            Save
          </button>
        </div>
        <div class="col-sm-5 col-md-4 col-lg-3">
          <button [disabled]="loading" (click)="discard()" id="DiscardBtn" type="button" class="btn btn-danger">
            Discard
          </button>
        </div>
      </div>
    </form>
    <hr>
    <pre> Presentation form: {{ editPresentationFormGroup.value | json }} </pre>
    <pre> Presentation object: {{ presentation | json }} </pre>
  </div>
</div>