<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4 align-items-center">
    </div>
  </div>
  <div class="row">
    <div class="col-md-9 pres-part">
      <div class="container-fluid mt-5 p-0 text-center" *ngIf="presentations && presentations.length > 0" >
        <h2 class="mb-5">All Presentations</h2>
        <div class="row justify-content-center p-0">
          <div class="col-md-10 col-lg-10 ml-5 mr-5">

            <div class="row card p-0 mt-3 mb-10 btn" *ngFor='let presentation of presentations; let i=index;'>
              <div class="col card-body">
                <div class="row pres-field">
                  <div class="col text-left d-flex align-items-center" (click)="openPresentationPage(i)">
                    <p class="m-0">{{presentation.title}}</p>
                  </div>

                  <div class="col-auto d-flex align-items-center" *ngIf="presentation.finished">
                    <p class="m-0">{{ presentation.avgMark ? presentation.avgMark.toFixed(2) : '0.00' }}</p>
                  </div>
                  <div class="col-auto d-flex align-items-center" *ngIf="!presentation.started && !presentation.finished">
                    <p class="m-0">upcoming</p>
                  </div>

                  <div class="col-auto d-flex align-items-center">
                    <i class="fas fa-star"></i>
                  </div>

                  <div *ngIf="!presentation.finished" ><button class="btn btn-primary mr-1" (click)="editPresentationPage(i)"><i
                    class="fas fa-edit"></i></button>
                  </div>
                  <div><button class="btn btn-danger mr-3" (click)="deletePresentationPage(i)"><i
                    class="fas fa-trash"></i></button></div>

                </div>

              </div>

            </div>

          </div>
          <div class="row d-flex justify-content-around">
            <ngb-pagination [collectionSize]="totalElements"
                            [(page)]="currentPage"
                            [pageSize]="pageSize"
                            [maxSize]="5"
                            [rotate]="true"
                            [boundaryLinks]="true"
                            (pageChange)="openUserPresentationPage()">
            </ngb-pagination>
          </div>

        </div>

      </div>
      <div *ngIf="!presentations || presentations.length == 0">
        <div class="container-fluid mt-5 p-0 text-center">
          <h1>You have no presentations yet </h1>
        </div>
      </div>
    </div>
    <div class=" col-md-3 col-xs-12 user-info">
      <div>
        <h3>UserInfo</h3>
        <p>{{email}}</p>
        <button *ngIf=!btnChange type="button" class="btn btn-primary" (click)="changePass()">Change Password</button>
        <div *ngIf=btnChange class="changeForm">
          <div class="container changeForm">
            <h5>Change Password</h5>
            <form [formGroup]="changePassForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="NewPass">New Password</label>
                <div class="align-items-center input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style="width: 1.6rem"><i class="fas fa-key"></i></div>
                  <input id="NewPass" type="password" formControlName="NewPass" class="form-control" [ngClass]="{ 'is-invalid': submitted && changePassForm.controls.NewPass.errors }"
                         placeholder="Enter your new password" required autofocus />
                </div>
              </div>
              <div class="form-control-feedback">
                <div *ngIf="submitted && changePassForm.controls.NewPass.errors" class="text-danger">
                  <div *ngIf="changePassForm.controls.NewPass.errors.required">Password is required</div>
                  <div *ngIf="changePassForm.controls.NewPass.errors.minlength">Password must be at least 6 characters</div>
                </div>
              </div>

              <div class="form-group">
                <label for="ConfirmNewPass">Confirm new Password</label>
                <div class="align-items-center input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style="width: 1.6rem"><i class="fas fa-key"></i></div>
                  <input id="ConfirmNewPass" type="password" formControlName="ConfirmNewPass" class="form-control" [ngClass]="{ 'is-invalid': submitted && changePassForm.controls.ConfirmNewPass.errors }"
                         placeholder="Confirm your new password" required autofocus />
                </div>
              </div>
              <div class="form-control-feedback">
                <div *ngIf="submitted && changePassForm.controls.ConfirmNewPass.errors" class="text-danger">
                  <div *ngIf="changePassForm.controls.ConfirmNewPass.errors.required">Password is required</div>
                  <div *ngIf="changePassForm.controls.ConfirmNewPass.errors.mustMatch">Password does not match</div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <button [disabled]="loading" id="CancelChangeBtn" (click)="onCancel()" type="button" class="btn btn-danger">Cancel</button>
                </div>
                <div class="col-md-5"></div>
                <div class="col-md-3">
                  <button [disabled]="loading" id="SubChangeBtn" type="submit" class="btn btn-success">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
