img.logo{
    width: 65px;
}
.navbar-brand p{
    margin-top:20px;
    margin-left: 50px;
    font-family: Georgia, serif;
    font-size: 20px;
    letter-spacing: -0.4px;
    color: #FF361C;
    font-weight: 700;
    font-style: italic;
}