<div class="container-fluid">
  <h2 class="text-center">Admin Page</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="container-fluid mt-5 p-0 text-center">
        <h2 class="mb-5">All Presentations</h2>
        <div class="row justify-content-center p-0">

          <div class="col-md-10 col-lg-10 ml-5 mr-5">

            <div class="row card p-0 mt-3 mb-10 btn" *ngFor='let presentation of presentations; let i=index;'>
              <div class="col card-body">
                <div class="row pres-field">
                  <div class="col text-left d-flex align-items-center" (click)="openPresentationPage(i)">
                    <p class="m-0">{{presentation.title}}</p>
                  </div>

                  <div class="col-auto d-flex align-items-center" *ngIf="presentation.finished">
                    <p class="m-0">{{ presentation.avgMark ? presentation.avgMark.toFixed(2) : '0.00' }}</p>
                  </div>
                  <div class="col-auto d-flex align-items-center" *ngIf="!presentation.started && !presentation.finished">
                    <p class="m-0">upcoming</p>
                  </div>

                  <div class="col-auto d-flex align-items-center">
                    <i class="fas fa-star"></i>
                  </div>

                  <div *ngIf="!presentation.finished" ><button class="btn btn-primary mr-1" (click)="editPresentationPage(i)"><i
                    class="fas fa-edit"></i></button>
                  </div>
                  <div><button class="btn btn-danger mr-3" (click)="deletePresentationPage(i)"><i
                        class="fas fa-trash"></i></button></div>

                </div>

              </div>

            </div>

          </div>
          <div class="row d-flex justify-content-around mt-2">
            <ngb-pagination [collectionSize]="totalElements"
                            [(page)]="currentPage"
                            [pageSize]="pageSize"
                            [maxSize]="5"
                            [rotate]="true"
                            [boundaryLinks]="true"
                            (pageChange)="openPresentationAdminPage()">
            </ngb-pagination>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-6">
      <div class="container-fluid mt-5 p-0 text-center">
        <!-- <h2 class="mb-5">All Users</h2> -->
        <div class="row addUserbtn mb-5">
          <div class="col-md-6"><h2>All Users</h2></div>
          <div class="col-md-6" *ngIf="!addUserBtn">
            <button class="btn btn-success mb-10 " (click)="addUser()"><i class="fas fa-plus"></i> Add User</button>
          </div>
        </div>
        <div class="row justify-content-center p-0 add-container" *ngIf="addUserBtn">
          <div class="col-md-9 col-lg-9 ml-5 mr-5 ">
            <div class="container add-container">
              <div class="row">
                <form [formGroup]="editUserForm" (ngSubmit)="submitAddUser()">
                  <div class="row justify-content-center">
                    <div class="col-md-3 field-label-responsive">
                      <label for="email1">E-Mail Address</label>
                    </div>
                    <div class="col-md-9">
                      <div class="form-group">
                        <div class="align-items-center input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-at"></i></div>
                          <input type="text" formControlName="email" class="form-control" id="email1"
                            [ngClass]="{ 'is-invalid': submitted && editUserForm.controls.email.errors }"
                            placeholder="you@inther.com" required autofocus />
                        </div>
                        <div class="form-control-feedback">
                          <div *ngIf="submitted && editUserForm.controls.email.errors" class="text-danger">
                            <div *ngIf="editUserForm.controls.email.errors?.required">Email is required</div>
                            <div *ngIf="editUserForm.controls.email.errors?.email">Not valid email form</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3 field-label-responsive">
                      <label for="userGroup1">User Group</label>
                    </div>
                    <div class="col-md-9">
                      <div class="form-group">
                        <div class="align-items-center input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-users"></i></div>
                          <select class="form-control" name="userGroup" formControlName="userGroup"
                            [ngClass]="{ 'is-invalid': submitted && editUserForm.controls.userGroup.errors }"
                            id="userGroup1" required autofocus>
                            <option value="{{roleUser}}">User</option>
                            <option value="{{roleAdmin}}">Admin</option>
                          </select>
                        </div>
                        <div class="form-control-feedback">
                          <div *ngIf="submitted && editUserForm.controls.userGroup.errors" class="text-danger">
                            <div *ngIf="editUserForm.controls.userGroup.errors?.required">Email is required</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3 field-label-responsive">
                      <label for="password1">Password</label>
                    </div>
                    <div class="col-md-9">
                      <div class="form-group has-danger">
                        <div class="align-items-center input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-key"></i></div>
                          <input type="password" formControlName="password" class="form-control" id="password1"
                            [ngClass]="{ 'is-invalid': submitted && editUserForm.controls.password.errors }" required
                            placeholder="Password">
                        </div>
                        <div class="form-control-feedback">
                          <div *ngIf="submitted && editUserForm.controls.password.errors" class="text-danger">
                            <div *ngIf="editUserForm.controls.password.errors.required">Password is required</div>
                            <div *ngIf="editUserForm.controls.password.errors.minlength">Password must be at least 6
                              characters</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3 field-label-responsive">
                      <label for="password-confirm1">Confirm Password</label>
                    </div>
                    <div class="col-md-9">
                      <div class="form-group">
                        <div class="align-items-center input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon" style="width: 2.6rem">
                            <i class="fas fa-key"></i>
                          </div>
                          <input type="password" name="password-confirmation" class="form-control" id="password-confirm1"
                            placeholder="Password" required formControlName="confirm_password"
                            [ngClass]="{ 'is-invalid': submitted && editUserForm.controls.confirm_password.errors }">
                        </div>
                        <div class="form-control-feedback">
                          <div *ngIf="submitted && editUserForm.controls.confirm_password.errors" class="text-danger">
                            <div *ngIf="editUserForm.controls.confirm_password.errors.required">Password is required
                            </div>
                            <div *ngIf="editUserForm.controls.confirm_password.errors.mustMatch">Password does not match
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <button [disabled]="loading" type="button" (click)="onCancelAdd()"
                        class="btn btn-danger">Cancel</button>
                    </div>
                    <div class="col-md-3 offset-md-6">
                      <button [disabled]="loading" type="submit" class="btn btn-success">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center p-0" *ngIf="!addUserBtn">

          <div class="col-md-10 col-lg-10 ml-5 mr-5 list-group">

            <div class="list-group-item list-group-item " *ngFor='let user of users; let i=index;'>
              <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-5 col-6 text-left d-flex align-items-center">
                  <div class="m-0">{{user.email}}</div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-4 col-4  text-right d-flex align-items-center">
                  <div class="m-0">{{user.role}}</div>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-3 col-12 ">
                  <div class="row" *ngIf="!arrEditUserbtn[i]">
                    <div class="col-lg-4  col-md-3 col-sm-4 col-5 mr-1">
                      <button class="btn btn-primary " (click)="editUser(i)"><i class="fas fa-edit"></i></button>
                    </div>
                    <div class="col-lg-4 col-md-3 col-sm-4 col-5">
                      <button class="btn btn-danger  " (click)="deleteUser(i)"><i class="fas fa-trash"></i></button>
                    </div>
                  </div>
                </div>
                <div class="container edit-container" *ngIf="arrEditUserbtn[i]">
                  <div class="row">
                    <div class="col-md-4 offset-md-4">
                      <h3 class="text-center">Edit User</h3>
                    </div>
                  </div>
                  <form [formGroup]="editUserForm" (ngSubmit)="onSubmitEdit(i)">
                    <div class="row">
                      <div class="col-md-3 field-label-responsive">
                        <label for="email2">E-Mail Address</label>
                      </div>
                      <div class="col-md-9">
                        <div class="form-group">
                          <div class="align-items-center input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-at"></i></div>
                            <input type="text" formControlName="email" class="form-control" id="email2"
                              [ngClass]="{ 'is-invalid': submitted && editUserForm.controls.email.errors }"
                              placeholder="you@inther.com" required autofocus />
                          </div>
                          <div class="form-control-feedback">
                            <div *ngIf="submitted && editUserForm.controls.email.errors" class="text-danger">
                              <div *ngIf="editUserForm.controls.email.errors?.required">Email is required</div>
                              <div *ngIf="editUserForm.controls.email.errors?.email">Not valid email form</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 field-label-responsive">
                        <label for="userGroup">User Group</label>
                      </div>
                      <div class="col-md-9">
                        <div class="form-group">
                          <div class="align-items-center input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-users"></i></div>
                            <select class="form-control" name="userGroup" formControlName="userGroup"
                              [ngClass]="{ 'is-invalid': submitted && editUserForm.controls.userGroup.errors }"
                              id="userGroup" required autofocus>
                              <option value="{{roleUser}}">User</option>
                              <option value="{{roleAdmin}}">Admin</option>
                            </select>
                          </div>
                          <div class="form-control-feedback">
                            <div *ngIf="submitted && editUserForm.controls.userGroup.errors" class="text-danger">
                              <div *ngIf="editUserForm.controls.userGroup.errors?.required">Email is required</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 field-label-responsive">
                        <label for="password2">Password</label>
                      </div>
                      <div class="col-md-9">
                        <div class="form-group has-danger">
                          <div class="align-items-center input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-key"></i></div>
                            <input type="password" formControlName="password" class="form-control" id="password2"
                              [ngClass]="{ 'is-invalid': submitted && editUserForm.controls.password.errors }" required
                              placeholder="Password">
                          </div>
                          <div class="form-control-feedback">
                            <div *ngIf="submitted && editUserForm.controls.password.errors" class="text-danger">
                              <div *ngIf="editUserForm.controls.password.errors.required">Password is required</div>
                              <div *ngIf="editUserForm.controls.password.errors.minlength">Password must be at least 6
                                characters</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 field-label-responsive">
                        <label for="password-confirm">Confirm Password</label>
                      </div>
                      <div class="col-md-9">
                        <div class="form-group">
                          <div class="align-items-center input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem">
                              <i class="fas fa-key"></i>
                            </div>
                            <input type="password" name="password-confirmation" class="form-control"
                              id="password-confirm" placeholder="Password" required formControlName="confirm_password"
                              [ngClass]="{ 'is-invalid': submitted && editUserForm.controls.confirm_password.errors }">
                          </div>
                          <div class="form-control-feedback">
                            <div *ngIf="submitted && editUserForm.controls.confirm_password.errors" class="text-danger">
                              <div *ngIf="editUserForm.controls.confirm_password.errors.required">Password is required
                              </div>
                              <div *ngIf="editUserForm.controls.confirm_password.errors.mustMatch">Password does not
                                match</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <button [disabled]="loading" type="button" (click)="onCancel(i)"
                          class="btn btn-danger">Cancel</button>
                      </div>
                      <div class="col-md-3 offset-md-6">
                        <button [disabled]="loading" type="submit" class="btn btn-success">Submit</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="row d-flex justify-content-around mt-1">
              <ngb-pagination [collectionSize]="totalAdminElements"
                              [(page)]="currentAdminPage"
                              [pageSize]="pageAdminSize"
                              [maxSize]="5"
                              [rotate]="true"
                              [boundaryLinks]="true"
                              (pageChange)="openUserAdminPage()">
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
